{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "es5",
  "printWidth": 100,
  "tabWidth": 2,
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "proseWrap": "always",
        "tabWidth": 4
      }
    },
    {
      "files": "*.ts",
      "options": {
        "semi": true
      }
    }
  ]
}
