/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Sb Table 2 -No Header;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #0894d8;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #0894d8;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #0894d8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #0894d8;
	max-id: 5;
	border-spacing-y: 21;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	name: Body1;
	id: 1;
	background-color: #d9d9d9;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 4;
	name: Body2;
	background-color: #ffffff;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #ffffff;
	cell-content-style-tag: p;
	cell-content-style-class: table-text;
	cell-padding-left: 10px;
	cell-padding-right: 10px;
	cell-padding-top: 10px;
	cell-padding-bottom: 10px;
	vertical-align: top;
}


/* Cell Styles: */
 
.TableStyle-Sb_Table_2_-No_Header
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #0894d8;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #0894d8;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #0894d8;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #0894d8;
	border-bottom-width: 1px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
	border-spacing: 0px 21px;
}

.TableStyle-Sb_Table_2_-No_Header-Column-Column1
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadI-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-HeadE-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadF-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-HeadH-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadD-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadC-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-HeadB-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadA-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-HeadG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-HeadG-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootI-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootI-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootE-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-FootE-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootF-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootF-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootH-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-FootH-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootD-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootD-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootC-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootC-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootB-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-FootB-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootA-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootA-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-FootG-Column1-
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Sb_Table_2_-No_Header-FootG-Column1- p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-Body-Body1
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyI-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyI-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyE-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyE-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyF-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyF-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyH-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyH-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyD-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyD-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyC-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyC-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyB-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyB-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyA-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyA-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyG-Column1-Body1
{
	vertical-align: top;
	background-color: #d9d9d9;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyG-Column1-Body1 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-Body-Body2
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyI-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyI-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyE-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyE-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyF-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyF-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyH-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyH-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyD-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom-width: 0px;
	border-bottom-color: #ffffff;
	border-bottom-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyD-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyC-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyC-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyB-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Sb_Table_2_-No_Header-BodyB-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyA-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyA-Column1-Body2 p
{
	
}

.TableStyle-Sb_Table_2_-No_Header-BodyG-Column1-Body2
{
	vertical-align: top;
	background-color: #ffffff;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.TableStyle-Sb_Table_2_-No_Header-BodyG-Column1-Body2 p
{
	
}


