/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	border-top-style: solid;
	border-top-width: 1pt;
	border-top-color: #7F7F7F;
	border-left-style: solid;
	border-left-width: 1pt;
	border-left-color: #7F7F7F;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	name: SbTable3-NoHeader;
	max-id: 2;
}

mcTableColumnStyle
{
	span: 1;
	type: Automatic;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #7F7F7F;
	name: Column;
	id: 0;
}

mcTableBodyStyle
{
	span: 1;
	font-family: Calibri;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #7F7F7F;
	background-color: #D9D9D9;
	border-right-style: solid;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-bottom-style: solid;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	type: Automatic;
	name: HorizontalBand;
	id: 1;
}

mcTableBodyStyle
{
	span: 1;
	font-family: Calibri;
	separator-style: solid;
	separator-width: 1pt;
	separator-color: #7F7F7F;
	name: Body;
	id: 2;
}


/* Cell Styles: */
 
.TableStyle-SbTable3-NoHeader
{
	border-left-style: solid;
	border-left-color: #7F7F7F;
	border-left-width: 1pt;
	border-right-style: solid;
	border-right-color: #7F7F7F;
	border-right-width: 1pt;
	border-top-style: solid;
	border-top-color: #7F7F7F;
	border-top-width: 1pt;
	border-bottom-style: solid;
	border-bottom-color: #7F7F7F;
	border-bottom-width: 1pt;
	border-spacing: 0px 0px;
}

.TableStyle-SbTable3-NoHeader-Column-Column
{
	
}

.TableStyle-SbTable3-NoHeader-HeadI-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadI-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadE-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-HeadE-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadF-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadF-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadH-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-HeadH-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadD-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadD-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadC-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadC-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadB-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-HeadB-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadA-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadA-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-HeadG-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-HeadG-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootI-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootI-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootE-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-FootE-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootF-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootF-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootH-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-FootH-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootD-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootD-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootC-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootC-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootB-Column-
{
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-FootB-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootA-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootA-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-FootG-Column-
{
	
}

.TableStyle-SbTable3-NoHeader-FootG-Column- p
{
	
}

.TableStyle-SbTable3-NoHeader-Body-HorizontalBand
{
	
}

.TableStyle-SbTable3-NoHeader-BodyI-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
}

.TableStyle-SbTable3-NoHeader-BodyI-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyE-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyE-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyF-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyF-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyH-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyH-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyD-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyD-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyC-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
}

.TableStyle-SbTable3-NoHeader-BodyC-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyB-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyB-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyA-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
}

.TableStyle-SbTable3-NoHeader-BodyA-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyG-Column-HorizontalBand
{
	font-family: Calibri;
	background-color: #D9D9D9;
}

.TableStyle-SbTable3-NoHeader-BodyG-Column-HorizontalBand p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-Body-Body
{
	
}

.TableStyle-SbTable3-NoHeader-BodyI-Column-Body
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyI-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyE-Column-Body
{
	font-family: Calibri;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyE-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyF-Column-Body
{
	font-family: Calibri;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyF-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyH-Column-Body
{
	font-family: Calibri;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyH-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyD-Column-Body
{
	font-family: Calibri;
	border-bottom-width: 1pt;
	border-bottom-color: #7F7F7F;
	border-bottom-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyD-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyC-Column-Body
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyC-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyB-Column-Body
{
	font-family: Calibri;
	border-right-width: 1pt;
	border-right-color: #7F7F7F;
	border-right-style: solid;
}

.TableStyle-SbTable3-NoHeader-BodyB-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyA-Column-Body
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyA-Column-Body p
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyG-Column-Body
{
	font-family: Calibri;
}

.TableStyle-SbTable3-NoHeader-BodyG-Column-Body p
{
	font-family: Calibri;
}


