/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Table_header;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #3d5065;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #3d5065;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #3d5065;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #3d5065;
	max-id: 4;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #3d5065;
	background-color: #696969;
	color: #ffffff;
	name: Header1;
	id: 3;
	size: 17pt;
	text-align: justify;
	vertical-align: top;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	name: Body2;
	id: 2;
	size: 17pt;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #000000;
	background-color: #f4f6f7;
	name: Body1;
	id: 1;
	size: 17pt;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
}


/* Cell Styles: */
 
.TableStyle-Table_header
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #3d5065;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #3d5065;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #3d5065;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #3d5065;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Table_header-Column-Column1
{
	
}

.TableStyle-Table_header-Head-Header1
{
	height: 17pt;
}

.TableStyle-Table_header-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadE-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #3d5065;
	border-bottom-style: solid;
}

.TableStyle-Table_header-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #3d5065;
	border-bottom-style: solid;
}

.TableStyle-Table_header-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadH-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
	border-bottom-width: 1px;
	border-bottom-color: #3d5065;
	border-bottom-style: solid;
}

.TableStyle-Table_header-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadB-Column1-Header1
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	background-color: #696969;
}

.TableStyle-Table_header-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-FootI-Column1-
{
	
}

.TableStyle-Table_header-FootI-Column1- p
{
	
}

.TableStyle-Table_header-FootE-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-FootE-Column1- p
{
	
}

.TableStyle-Table_header-FootF-Column1-
{
	
}

.TableStyle-Table_header-FootF-Column1- p
{
	
}

.TableStyle-Table_header-FootH-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-FootH-Column1- p
{
	
}

.TableStyle-Table_header-FootD-Column1-
{
	
}

.TableStyle-Table_header-FootD-Column1- p
{
	
}

.TableStyle-Table_header-FootC-Column1-
{
	
}

.TableStyle-Table_header-FootC-Column1- p
{
	
}

.TableStyle-Table_header-FootB-Column1-
{
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-FootB-Column1- p
{
	
}

.TableStyle-Table_header-FootA-Column1-
{
	
}

.TableStyle-Table_header-FootA-Column1- p
{
	
}

.TableStyle-Table_header-FootG-Column1-
{
	
}

.TableStyle-Table_header-FootG-Column1- p
{
	
}

.TableStyle-Table_header-Body-Body2
{
	height: 17pt;
}

.TableStyle-Table_header-BodyI-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
}

.TableStyle-Table_header-BodyI-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyE-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyE-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyF-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Table_header-BodyF-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyH-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyH-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyD-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Table_header-BodyD-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyC-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
}

.TableStyle-Table_header-BodyC-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyB-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyB-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyA-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
}

.TableStyle-Table_header-BodyA-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyG-Column1-Body2
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: justify;
	vertical-align: top;
}

.TableStyle-Table_header-BodyG-Column1-Body2 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-Body-Body1
{
	height: 17pt;
}

.TableStyle-Table_header-BodyI-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
}

.TableStyle-Table_header-BodyI-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyE-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyE-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyF-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Table_header-BodyF-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyH-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyH-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyD-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
	border-bottom-width: 1px;
	border-bottom-color: #000000;
	border-bottom-style: solid;
}

.TableStyle-Table_header-BodyD-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyC-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
}

.TableStyle-Table_header-BodyC-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyB-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
	border-right-width: 1px;
	border-right-color: #000000;
	border-right-style: solid;
}

.TableStyle-Table_header-BodyB-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyA-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
}

.TableStyle-Table_header-BodyA-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Table_header-BodyG-Column1-Body1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	background-color: #f4f6f7;
}

.TableStyle-Table_header-BodyG-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}


