/*<meta />*/

/*importing Open Sans font*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700;subset=cyrillic,latin-ext');

@namespace MadCap url(http://www.madcapsoftware.com/Schemas/MadCap.xsd);

body
{
	font-family: 'Open Sans', sans-serif;
}

/*header styles*/
/*better to use 1 h1 per topic in print, absolutely 1 in online*/

h1
{
	margin-bottom: 25px;
	mc-hyphenate: never;
	font-style: normal;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-size: 37px;
	color: #0047bb;
	font-family: 'Open Sans';
	font-weight: 600;
}

/*for print outputs, Index page*/

h1.Index
{
	margin-bottom: 25px;
	mc-hyphenate: never;
	font-style: normal;
	font-family: 'Open Sans';
	font-weight: 600;
	mc-auto-number-position: none;
	page-break-before: always;
	page-break-after: avoid;
	page-break-inside: avoid;
	font-size: 37px;
	color: #0047bb;
}

h2
{
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-style: normal;
	font-size: 24px;
	font-family: 'Open Sans';
	font-weight: 600;
	margin-top: 30px;
	padding-left: 0px;
	color: #0047bb;
}

h2.pageBreak
{
	page-break-before: always;
	text-indent: -47px;
	margin-left: 47px;
}

h3
{
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-style: normal;
	font-size: 22px;
	font-family: 'Open Sans';
	font-weight: 600;
	margin-top: 30px;
	color: #0047bb;
}

h4
{
	font-family: 'Open Sans';
	font-weight: 600;
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-size: 19px;
	font-style: normal;
	margin-top: 30px;
	color: #0047bb;
}

h5
{
	font-family: 'Open Sans';
	font-weight: 600;
	mc-heading-level: 0;
	font-size: 16px;
	font-style: normal;
	margin-top: 30px;
	color: #0047bb;
}

h6
{
	mc-heading-level: 0;
	font-size: 16px;
	font-family: 'Open Sans';
	font-weight: 600;
	font-style: normal;
	color: #0047bb;
}

/*paragraph styles*/

p
{
	font-family: 'Open Sans';
	font-size: 13px;
	margin-bottom: 10px;
	margin-top: 10px;
	text-align: justify;
	mc-hyphenate: never;
	color: #3d5065;
}

p.heading1
{
	font-weight: normal;
	margin-bottom: 0.25in;
	margin-top: 25px;
	font-family: 'Open Sans Semibold';
	font-size: 37px;
	color: #0047bb;
}

p.Title
{
	text-align: left;
	mc-hyphenate: never;
	font-weight: normal;
	font-style: normal;
	font-size: 50px;
	margin-top: 0;
	margin-bottom: 0;
	color: #1560ce;
}

p.Subtitle
{
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: normal;
	font-style: normal;
	font-size: 42px;
	font-family: 'Open Sans Light';
	text-align: left;
	margin-bottom: 0;
	margin-top: 0;
	color: #1560ce;
}

p.Publisher
{
	margin-bottom: 0pt;
	text-align: center;
	font-weight: bold;
	margin-top: 4in;
	font-size: 12pt;
}

p.procedure
{
	page-break-after: avoid;
	page-break-inside: avoid;
	mc-hyphenate: never;
	font-family: 'Open Sans';
	font-weight: 600;
	text-decoration: none;
	font-style: italic;
	font-size: 13px;
	margin-top: 25px;
	color: #3d5065;
}

p.footer
{
	color: #ffffff;
	font-size: 8pt;
	background-image: url('../../Images/Style/Line.eps');
	background-repeat: no-repeat;
}

p.Note
{
	border-left-style: solid;
	border-left-width: 0px;
	padding-left: 0px;
	margin-top: 20px;
	text-indent: -45px;
	margin-left: 45px;
	color: #3d5065;
	mc-auto-number-format: '{b}{color #1560ce}NOTE: {/color}{/b}';
}

p.Tip
{
	border-left-style: solid;
	border-left-width: 0px;
	padding-left: 0px;
	margin-top: 20px;
	text-indent: -45px;
	margin-left: 45px;
	color: #3d5065;
	mc-auto-number-format: '{b}{color #1560ce}TIP: {/color}{/b}';
}

p.Important
{
	border-left-style: solid;
	border-left-width: 0px;
	padding-left: 0px;
	margin-top: 20px;
	text-indent: -45px;
	margin-left: 45px;
	color: #3d5065;
	mc-auto-number-format: '{b}{color #1560ce}IMPORTANT! {/color}{/b}';
}

p.break_after
{
	page-break-after: always;
}

p.online_footer
{
	text-align: center;
	color: #3d5065;
	font-size: 14px;
}

p.version
{
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	margin-top: 10px;
	margin-bottom: 0;
	color: #1560ce;
}

p.MiniTOC1
{
	font-weight: normal;
	font-style: normal;
}

p.MiniTOC2
{
	font-family: 'Open Sans';
}

p.MiniTOC3
{
	
}

p.TOC1
{
	font-weight: normal;
	font-style: normal;
}

p.TOC2
{
	font-family: 'Open Sans';
}

p.Note_continue
{
	border-left-style: solid;
	border-left-width: 0px;
	padding-left: 0px;
	margin-left: 45px;
	color: #3d5065;
}

p.date
{
	font-size: 16px;
	margin-bottom: 0;
	margin-top: 0;
	color: #0c70b8;
}

p.code
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.500em;
	margin-top: 1.1em;
	font-family: monospace;
}

p.codeIndent0
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
	font-family: monospace;
}

p.codeIndent1
{
	text-align: left;
	font-size: 12px;
	margin-left: 10px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
	font-family: monospace;
}

p.codeIndent2
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-left: 20px;
	margin-top: 0.5em;
	font-family: monospace;
}

p.codeIndent3
{
	text-align: left;
	font-size: 12px;
	margin-bottom: 0.5em;
	margin-top: 0.5em;
	margin-left: 30px;
	font-family: monospace;
}

/*list styles*/

ol,
ul
{
	margin-top: 0px;
	margin-bottom: 0px;
	color: #3d5065;
}

ol
{
	font-size: 13px;
	font-family: 'Open Sans';
	margin: 0px;
	padding-left: 0px;
	margin-left: 33px;
	color: #3d5065;
}

ul
{
	font-size: 13px;
	font-family: 'Open Sans';
	margin: 0;
	margin-left: 33px;
	color: #3d5065;
}

dl
{
	font-size: 13px;
	font-family: 'Open Sans';
}

dd
{
	font-size: 13px;
	font-family: 'Open Sans';
}

dt
{
	font-size: 13px;
	font-family: 'Open Sans';
}

li
{
	font-size: 13px;
	font-family: 'Open Sans';
	margin-bottom: 10px;
	margin-top: 10px;
	mc-hyphenate: never;
	margin-left: 0px;
}

li.Note
{
	margin-left: 49px;
}

li.ContinueSnippetList
{
	margin-left: 33px;
}

/*bold styles*/

b
{
	font-weight: 600;
}

span.semibold
{
	font-family: 'Open Sans';
}

/*image styles*/

a.Popup
{
	
}

img
{
	border-bottom-color: #1560ce;
	border-color: #1560ce;
	border-left-color: #1560ce;
	border-right-color: #1560ce;
	border-right: solid 1px #1560ce;
	border-top: solid 1px #1560ce;
	border-width: 1px;
	border-bottom: solid 1px #1560ce;
	border: solid 1px #1560ce;
	border-left: solid 1px #1560ce;
	margin: 0px;
	padding: 0px;
}

image.notfound
{
	width: 100%;
	object-fit: fill;
}

/*effects and MadCap proxy styles*/

MadCap|expandingHead
{
	font-style: italic;
	font-weight: normal;
	cursor: hand;
	text-decoration: none;
	color: #006600;
}

MadCap|expandingBody
{
	color: #777777;
	font-style: italic;
}

MadCap|dropDownHotspot
{
	cursor: hand;
	font-style: italic;
	text-decoration: none;
	color: #0047bb;
	font-size: 13px;
}

MadCap|glossaryProxy
{
	border-top-style: none;
}

MadCap|indexProxy
{
	border-top-style: none;
}

MadCap|tocProxy
{
	font-family: 'Open Sans';
	border-top-style: none;
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: ' ';
	font-family: 'Open Sans';
	font-size: 13px;
	text-align: center;
	mc-breadcrumbs-divider: ' / ';
}

MadCap|dropDownHead
{
	font-style: italic;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #000000;
	margin-top: 25px;
	font-size: 13px;
}

/*table styles*/

table
{
	font-family: 'Open Sans';
	font-size: 13px;
	text-align: left;
	vertical-align: top;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: ;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: ;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: ;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: ;
	padding-left: 0px;
}

tr
{
	font-size: 13px;
	color: 3d5065;
}

thead
{
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	color: #0066cc;
	mc-hyphenate: never;
}

tbody
{
	font-size: 13px;
}

tfoot
{
	font-size: 13px;
}

th
{
	font-size: 13px;
}

td
{
	font-size: 13px;
	text-align: left;
	vertical-align: top;
	mc-hyphenate: never;
}

col
{
	font-size: 13px;
}

colgroup
{
	font-size: 13px;
}

/*cross-reference and hyperlink styles*/

MadCap|xref
{
	mc-format: 'See "{paratext}"';
	color: #000000;
}

MadCap|xref.Just_link
{
	font-family: 'Open Sans';
	mc-format: '{u}{color #1560ce}{paratext}{/color}{/u}';
	color: #1560ce;
}

MadCap|xref.Refer_to
{
	mc-format: 'See {u}{color #1560ce}{paratext}{/color}{/u} for more information.';
	color: #3d5065;
}

MadCap|xref.Refer_to_instructions
{
	mc-format: 'Refer to {u}{color #1560ce}{paratext}{/color}{/u} for detailed instructions on ';
	color: #3d5065;
}

a
{
	color: #1560ce;
}

MadCap|xref.HomeScreen
{
	mc-format: '{paratext}';
	color: #1560ce;
	text-decoration: none;
	border-bottom: 1px #a8c4ec solid;
}

MadCap|xref.HomeScreen:hover
{
	font-weight: normal;
	text-decoration: none;
	border-bottom: none;
}

/*
a.mobile_invisible
{
	display: normal;
}
*/

a:link
{
	color: #1560ce;
}

MadCap|conceptLink
{
	color: #1560ce;
}

caption
{
	font-weight: normal;
	font-style: italic;
	font-size: 13px;
	font-family: 'Open Sans';
}

/*line*/

hr
{
	
}

/*preserved styles*/

pre
{
	text-align: left;
	background-color: #ffffff;
	font-size: 12px;
	margin-bottom: 0.500em;
	margin-top: 1.1em;
}

pre.Indent0
{
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent1
{
	margin-left: 10px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent2
{
	margin-left: 20px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent3
{
	margin-left: 30px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent4
{
	margin-left: 40px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent5
{
	margin-left: 50px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

pre.Indent6
{
	margin-left: 60px;
	margin-bottom: 0.5em;
	margin-top: 0.50em;
}

/*Home page styles*/

p.home_welcome
{
	font-size: 54px;
	font-family: 'Open Sans';
	font-weight: 600;
	padding-top: 70px;
	text-align: center;
	color: #3d5065;
	margin-bottom: 10px;
}

p.home_helpcenter
{
	font-size: 54px;
	font-family: 'Open Sans';
	font-weight: 600;
	text-align: center;
	color: #3d5065;
	padding-top: 0px;
	line-height: 70px;
}

p.home_introduction
{
	font-size: 16px;
	text-align: center;
	color: #3d5065;
	padding-top: 35px;
	padding-bottom: 15px;
	margin: auto;
	line-height: 30px;
	max-width: 723px;
}

p.tiletitle
{
	font-size: 24px;
	padding-bottom: 12px;
	padding-left: 100px;
	font-weight: 600;
	color: #3d5065;
}

p.quickstart
{
	font-size: 24px;
	padding-top: 50px;
	font-weight: 600;
	color: #3d5065;
	text-align: center;
}

p.home_gotosite
{
	font-size: 16px;
	text-align: center;
	color: #3d5065;
	padding-top: 15px;
	padding-bottom: 75px;
}

p.link
{
	font-size: 16px;
	padding-bottom: 6px;
	line-height: 23px;
}

/*container styles for masterpages*/

div.searchbar
{
	max-width: 1570px;
	margin: auto;
}

div.home_searchbar
{
	max-width: 725px;
	margin: auto;
	padding-bottom: 50px;
}

div.main
{
	max-width: 1360px;
	margin: auto;
	background-color: inherit;
}

div.widegrey
{
	background-color: #eff3f7;
	border-top: solid 1px #dcdcdc;
	overflow-x: auto;
}

div.IntroBox
{
	max-width: 780px;
	margin: auto;
	background-color: inherit;
}

/*flex boxes*/

div.wrapper
{
	display: flex;
	padding: 5px;
}

div.toc
{
	margin: 5px;
}

div.content
{
	flex: 1;
	overflow-x: auto;
}

div.tilewrapper
{
	display: flex;
	padding: 0 0 15px 0;
	padding: 10px;
	margin-left: 20px;
}

div.tile
{
	background-color: white;
	margin: 0 20px 15px 0;
	padding: 43px;
	width: 634px;
	height: 374px;
	border-radius: 5px;
	border-bottom: solid 1px #dcdcdc;
}

div.tile:hover
{
	box-shadow: 0 0 25px #dce0e5;
	opacity: 14;
}

div.image
{
	float: left;
	margin-left: 15px;
}

div.links
{
	margin: 21px 0px 0px 100px;
}

div.footer
{
	display: flex;
	margin: auto;
	border-top: solid 1px #cdd7dd;
	justify-content: space-between;
	margin-top: 40px;
	padding-bottom: 65px;
	width: 1300px;
}

div.footeritem
{
	
}

div.imagenotfound
{
	margin: 40px auto;
	width: 300px;
}

/*go up element styles*/

div.go-to-up
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 5;
	width: 90px;
	height: 100%;
	background-color: rgba(12, 112, 184, 0.06);
	cursor: pointer;
	transition: all 300ms linear;
	visibility: hidden;
	opacity: 0;
}

div.go-to-up.show
{
	opacity: 1;
	visibility: visible;
}

div.go-to-up:hover
{
	background-color: rgba(12, 112, 184, 0.14);
}

div.text
{
	color: rgba(70, 92, 123, 0.77);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
	font-size: 13px;
	position: absolute;
	top: 43%;
}

span.text-go
{
	display: normal;
}

/*boxes*/

div.callToAction
{
	font-size: 13px;
	border: solid 1px #1560ce;
	padding: 10px;
	background-color: #1560ce;
	color: #ffffff;
	mc-auto-number-format: 'Looking for real-life use cases and walk through examples? Check out Netwrix training materials. Go the';
}

div.bluefield
{
	font-size: 13px;
	border: solid 1px #1560ce;
	padding: 10px;
	background-color: #1560ce;
	color: #ffffff;
}

div.codebox
{
	font-size: 13px;
	font-family: Monospace;
	padding: 10px;
	background-color: #eeeeee;
	overflow-x: auto;
}

MadCap|dropDownHotspot:hover
{
	font-size: 13px;
}

MadCap|dropDownHotspot:focus
{
	font-size: 13px;
}

/*overwrites default settings for the elements listed below when print media is in use*/

@media print
{
	h1
	{
		font-family: 'Open Sans Semibold';
		mc-auto-number-format: 'GT:{n+}. ';
		text-indent: -42px;
		margin-left: 42px;
	}

	h1.index
	{
		font-family: 'Open Sans Semibold';
		font-weight: normal;
	}

	h2
	{
		font-family: 'Open Sans Semibold';
		mc-auto-number-format: 'GT:{n}.{n+}. ';
		margin-left: 47px;
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0;
		text-indent: -47px;
	}

	h3
	{
		font-family: 'Open Sans Semibold';
		mc-auto-number-format: 'GT:{n}.{n}.{n+}. ';
		mc-auto-number-position: inside-head;
		mc-auto-number-offset: 0;
		text-indent: -58px;
		margin-left: 58px;
	}

	h4
	{
		font-family: 'Open Sans Semibold';
		mc-auto-number-format: 'GT:{n}.{n}.{n}.{n+}. ';
		mc-auto-number-offset: 0;
		text-indent: -67px;
		margin-left: 67px;
	}

	h5
	{
		font-family: 'Open Sans Semibold';
		mc-heading-level: 0;
		font-size: 16px;
		mc-auto-number-format: 'GT:{n}.{n}.{n}.{n}.{n+}. ';
		text-indent: -67px;
		margin-left: 67px;
	}

	p.code
	{
		font-family: monospace;
	}

	p.procedure
	{
		font-family: 'Open Sans Semibold';
	}

	p.codeIndent0
	{
		font-family: monospace;
	}

	p.codeIndent1
	{
		font-family: monospace;
	}

	MadCap|expandingHead
	{
		font-size: 13px;
		font-family: 'Open Sans Semibold';
		color: #000000;
	}

	MadCap|expandingBody
	{
		font-size: 13px;
	}

	MadCap|dropDownHotspot
	{
		font-size: 13px;
		font-family: 'Open Sans Semibold';
		color: #000000;
	}

	MadCap|dropDown
	{
		font-size: 13px;
		font-family: 'Open Sans';
	}

	MadCap|dropDownHead
	{
		font-family: 'Open Sans Semibold';
		font-size: 13px;
	}

	b
	{
		font-family: 'Open Sans Semibold';
		font-weight: normal;
	}

	MadCap|dropDownBody
	{
		font-size: 13px;
	}

	MadCap|expanding
	{
		font-size: 13px;
	}

	span.semibold
	{
		font-family: 'Open Sans Semibold';
		font-weight: normal;
	}
}

/*overwrites default settings for the elements listed below when online, mobile or tablet media is in use*/

p.online_footer
{
	font-size: 14px;
}

div.image
{
	text-align: left;
}

div.footer
{
	flex-direction: row;
}

div.tilewrapper
{
	flex-direction: row;
	margin-left: 20px;
}

div.toc
{
	flex: 0 0 280px;
}

div.wrapper
{
	flex-direction: row;
}

span.semibold
{
	font-weight: 600;
}

MadCap|expandingHead
{
	font-family: 'Open Sans';
	font-weight: 600;
	color: #000000;
	font-size: 13px;
}

MadCap|expandingHead:focus
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #000000;
}

MadCap|expandingHead:hover
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
	color: #000000;
}

MadCap|expandingBody
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
}

MadCap|dropDownHotspot
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
}

MadCap|dropDownHotspot:focus
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
}

MadCap|dropDownHotspot:hover
{
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: 600;
}

MadCap|dropDownHead
{
	font-size: 13px;
}

MadCap|miniTocProxy
{
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|xref.Refer_to_instructions
{
	color: #1560ce;
	text-decoration: none;
	mc-format: '{color #000000}Refer to {/color}{u}{color #1560ce}{paratext}{/color}{/u}{color #000000} for detailed instructions on{/color} ';
}

MadCap|xref.Refer_to
{
	text-decoration: none;
	mc-format: '{color #000000}See {/color}{u}{color #1560ce}{paratext}{/color}{/u}{color #000000} for more information.{/color}';
	color: #1560ce;
}

MadCap|xref.Just_link
{
	font-family: 'Open Sans';
	mc-format: '{color #1560ce}{u}{paratext}{/u}{/color}';
}

MadCap|breadcrumbsProxy
{
	mc-breadcrumbs-prefix: 'You are here: ';
	font-size: 11px;
	border-bottom-style: none;
	border-bottom-color: #000000;
	border-bottom-width: 0px;
	mc-breadcrumbs-divider: ' — ';
}

a.MCBreadcrumbsLink
{
	font-size: 11px;
	color: #1560ce;
}

p.MiniTOC4
{
	text-decoration: underline;
	color: #a8c4ec;
}

p.MiniTOC3
{
	color: #1560ce;
	text-decoration: underline;
}

p.MiniTOC2
{
	text-decoration: underline;
	color: #1560ce;
}

p.MiniTOC1
{
	color: #1560ce;
	text-decoration: underline;
}

p
{
	text-align: left;
}

li
{
	text-align: left;
}

h1
{
	margin-top: 0.1em;
}

@media only screen and (max-width: 1260px)
{
	h1
	{
		margin-top: 0.1em;
	}

	li
	{
		text-align: left;
	}

	p
	{
		text-align: left;
	}

	p.MiniTOC1
	{
		color: #1560ce;
		text-decoration: underline;
	}

	p.MiniTOC2
	{
		text-decoration: underline;
		color: #1560ce;
	}

	p.MiniTOC3
	{
		color: #1560ce;
		text-decoration: underline;
	}

	p.MiniTOC4
	{
		text-decoration: underline;
		color: #a8c4ec;
	}

	a.MCBreadcrumbsLink
	{
		font-size: 11px;
		color: #1560ce;
	}

	MadCap|breadcrumbsProxy
	{
		mc-breadcrumbs-prefix: 'You are here: ';
		font-size: 11px;
		border-bottom-style: none;
		border-bottom-color: #000000;
		border-bottom-width: 0px;
		mc-breadcrumbs-divider: ' — ';
	}

	MadCap|xref.Just_link
	{
		font-family: 'Open Sans';
		mc-format: '{color #1560ce}{u}{paratext}{/u}{/color}';
	}

	MadCap|xref.Refer_to
	{
		text-decoration: none;
		mc-format: '{color #000000}See {/color}{u}{color #1560ce}{paratext}{/color}{/u}{color #000000} for more information.{/color}';
		color: #1560ce;
	}

	MadCap|xref.Refer_to_instructions
	{
		color: #1560ce;
		text-decoration: none;
		mc-format: '{color #000000}Refer to {/color}{u}{color #1560ce}{paratext}{/color}{/u}{color #000000} for detailed instructions on{/color} ';
	}

	MadCap|miniTocProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	MadCap|dropDownHead
	{
		font-size: 13px;
	}

	MadCap|dropDownHotspot:hover
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
	}

	MadCap|dropDownHotspot:focus
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
	}

	MadCap|dropDownHotspot
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
	}

	MadCap|expandingBody
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
	}

	MadCap|expandingHead:hover
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
		color: #000000;
	}

	MadCap|expandingHead:focus
	{
		font-size: 13px;
		font-family: 'Open Sans';
		font-weight: 600;
		color: #000000;
	}

	MadCap|expandingHead
	{
		font-family: 'Open Sans';
		font-weight: 600;
		color: #000000;
		font-size: 13px;
	}

	span.semibold
	{
		font-weight: 600;
	}
}

/*overwrites default settings for the elements listed below when only online media is in use*/

@media online
{
	div.wrapper
	{
		flex-direction: row;
	}

	div.toc
	{
		flex: 0 0 280px;
	}

	div.tilewrapper
	{
		flex-direction: row;
		margin-left: 20px;
	}

	div.footer
	{
		flex-direction: row;
	}

	div.image
	{
		text-align: left;
	}

	p.online_footer
	{
		font-size: 14px;
	}
}

/*overwrites default settings for the elements listed below when mobile or tablet media is in use*/

@media only screen and (max-width: 1260px)
{
	/*
    a.mobile_invisible
	{
		display: none;
	}
    */

	div.wrapper
	{
		flex-direction: column;
		margin-left: none;
	}

	div.toc
	{
		flex: 1;
	}

	div.tilewrapper
	{
		flex-direction: column;
		align-items: center;
		padding: 10px;
	}

	div.footer
	{
		flex-direction: column;
	}

	p.home_gotosite
	{
		font-size: 14px;
	}
}

/*overwrites default settings for the elements listed below when tablet media is in use*/

@media only screen and (max-width: 1260px)
{
	p.quickstart
	{
		font-size: 20px;
		padding-top: 45px;
	}

	div.footer
	{
		width: 550px;
	}

	p.home_gotosite
	{
		font-size: 14px;
	}

	p.tiletitle
	{
		font-size: 20px;
		padding-bottom: 20px;
	}

	p.link
	{
		font-size: 14px;
		line-height: 26px;
	}

	div.tile
	{
		width: 545px;
		height: 370px;
		margin: 0 0 20px 0;
	}

	div.IntroBox
	{
		max-width: 573px;
	}

	p.home_introduction
	{
		max-width: 473px;
	}

	div.home_searchbar
	{
		max-width: 550px;
		margin: auto;
		padding: 5px 5px 50px 5px;
	}
}

/*overwrites default settings for the elements listed below when mobile media is in use*/

@media only screen and (max-width: 768px)
{
	p.quickstart
	{
		font-size: 18px;
		padding-top: 40px;
	}

	p.online_footer
	{
		font-size: 13px;
		color: #3d5065;
	}

	p.home_welcome
	{
		font-size: 32px;
		padding-top: 52px;
		line-height: 35px;
	}

	p.home_helpcenter
	{
		font-size: 32px;
	}

	p.home_introduction
	{
		font-size: 14px;
		padding-top: 13px;
		padding-bottom: 13px;
		max-width: 290px;
	}

	p.link
	{
		font-size: 14px;
		line-height: 22px;
	}

	p.tiletitle
	{
		font-size: 18px;
		text-align: center;
		padding-left: 0px;
		padding: 0 10px 0 10px;
	}

	div.tile
	{
		width: 290px;
		height: 430px;
		padding: 28px;
		margin: 0 0 20px 0;
	}

	div.image
	{
		text-align: center;
		float: none;
	}

	div.links
	{
		margin: 21px 0px 36px 10px;
	}

	div.imagenotfound
	{
		width: 200px;
	}

	div.home_searchbar
	{
		max-width: 293px;
		margin: auto;
		padding: 3px 3px 30px 3px;
	}

	div.IntroBox
	{
		max-width: 300px;
	}

	div.footer
	{
		width: 300px;
		flex-direction: column;
		font-size: 10px;
	}
}

/*media query that controls bigger and smaller go up button*/

@media only screen and (min-width: 1260px) and (max-width: 1599px)
{
	div.go-to-up
	{
		width: 53px;
	}

	div.text
	{
		padding-left: 10px;
	}

	span.text-go
	{
		display: none;
	}
}

@media only screen and (min-width: 1600px)
{
	div.text
	{
		padding-left: 17px;
	}
}

img.image_logo
{
	border-color: #f7f7fa;
	border-left: solid 0px #fefdfc;
	border-right: solid 0px #fefdfc;
	border-top: solid 0px #fefdfc;
	border: solid 0px #fefdfc;
	border-bottom: solid 0px #fefdfc;
}

