/*<meta Version="9" />*/

/* MadCap Table Style: */

@media online
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-size: 13px;
		font-family: 'Open Sans';
		color: #ffffff;
		font-weight: 600;
		font-style: normal;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media only screen and (max-width: 1279px)
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-size: 13px;
		font-family: 'Open Sans';
		color: #ffffff;
		font-weight: 600;
		font-style: normal;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

@media only screen and (max-width: 767px)
{
	mcTableStyle
	{
		
	}

	mcTableColumnStyle
	{
		
	}

	mcTableHeadStyle
	{
		font-size: 13px;
		font-family: 'Open Sans';
		color: #ffffff;
		font-weight: 600;
		font-style: normal;
	}

	mcTableHeadStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableBodyStyle
	{
		
	}

	mcTableFootStyle
	{
		
	}
}

mcTableStyle
{
	name: Basic;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 0px;
	border-left-color: #a9a9a9;
	border-right-style: solid;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-top-style: solid;
	border-top-width: 0px;
	border-top-color: #a9a9a9;
	border-bottom-style: solid;
	border-bottom-width: 0px;
	border-bottom-color: #c0c0c0;
	max-id: 8;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	mc-hide-bottom-ruling: true;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 0px;
	separator-color: #a9a9a9;
	name: Column1;
	id: 0;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	name: Header1;
	id: 2;
	size: 13px;
	font-size: 13px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bolder;
	font-style: normal;
	color: #ffffff;
	cell-padding-left: 3px;
	cell-padding-right: 6px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	background-color: #696969;
	vertical-align: top;
	text-align: left;
}

mcTableHeadStyle
{
	span: 1;
	id: 7;
	name: Header2;
	size: 17pt;
	font-family: 'Open Sans';
	color: #000000;
	text-align: left;
	cell-padding-left: 3px;
	cell-padding-right: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 8px;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Body1;
	id: 1;
	size: 17pt;
	font-size: 13px;
	font-family: 'Open Sans';
	font-weight: normal;
	font-style: normal;
	cell-padding-left: 3px;
	cell-padding-right: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 8px;
	type: Automatic;
	text-align: justify;
	vertical-align: top;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Body_line;
	size: 1px;
	font-family: 'Open Sans';
	font-size: 10px;
	font-style: normal;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	text-align: left;
	vertical-align: top;
	cell-padding-left: 3px;
	cell-padding-right: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 6px;
	type: Manual;
}

mcTableBodyStyle
{
	span: 1;
	id: 6;
	name: Gray;
	type: Manual;
	size: 26pt;
	color: #ffffff;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #696969;
	font-size: 13px;
	font-family: 'Open Sans Semibold', sans-serif;
	font-style: normal;
	background-color: #696969;
	page-break-after: avoid;
	cell-padding-left: 3px;
	cell-padding-right: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 8px;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: Break_after;
	type: Manual;
	cell-padding-left: 3px;
	cell-padding-right: 12px;
	cell-padding-top: 6px;
	cell-padding-bottom: 8px;
	size: 17pt;
	font-family: 'Open Sans';
	font-size: 13px;
	color: #000000;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	text-align: justify;
	page-break-after: always;
	column-break-after: always;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #c0c0c0;
	name: Footer1;
	id: 3;
}

/* Cell Styles: */

@media online
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}
}

@media only screen and (max-width: 1279px)
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}
}

@media only screen and (max-width: 767px)
{
	.TableStyle-Basic
	{
		border-spacing: 0px 0px;
	}

	.TableStyle-Basic-HeadI-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadI-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadE-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadF-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadH-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadD-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadC-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadB-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadA-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}

	.TableStyle-Basic-HeadG-Column1-Header1 p
	{
		color: #ffffff;
		font-family: 'Open Sans';
		font-size: 13px;
		font-weight: 600;
		font-style: normal;
	}
}

.TableStyle-Basic
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #a9a9a9;
	border-left-width: 0px;
	border-right-style: solid;
	border-right-color: #a9a9a9;
	border-right-width: 0px;
	border-top-style: solid;
	border-top-color: #a9a9a9;
	border-top-width: 0px;
	border-bottom-style: solid;
	border-bottom-color: #c0c0c0;
	border-bottom-width: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 15px;
	margin-bottom: 15px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic-Column-Column1
{
	
}

.TableStyle-Basic-Head-Header1
{
	height: 13px;
}

.TableStyle-Basic-HeadI-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadI-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadE-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadF-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadH-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadH-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadD-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadC-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadC-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadB-Column1-Header1
{
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadB-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadA-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadA-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-HeadG-Column1-Header1
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	text-align: left;
	vertical-align: top;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 6px;
	padding-top: 6px;
	padding-bottom: 6px;
}

.TableStyle-Basic-HeadG-Column1-Header1 p
{
	color: #ffffff;
	font-family: 'Open Sans Semibold', sans-serif;
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-Head-Header2
{
	height: 17pt;
}

.TableStyle-Basic-HeadI-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadI-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadE-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadE-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadF-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadF-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadH-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadH-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadD-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
}

.TableStyle-Basic-HeadD-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadC-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadC-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadB-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadB-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadA-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadA-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-HeadG-Column1-Header2
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	color: #000000;
	font-family: 'Open Sans';
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
}

.TableStyle-Basic-HeadG-Column1-Header2 p
{
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	color: #000000;
	font-family: 'Open Sans';
}

.TableStyle-Basic-Foot-Footer1
{
	
}

.TableStyle-Basic-FootI-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-FootI-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootE-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-Basic-FootE-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootF-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-Basic-FootF-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootH-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootH-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootD-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-top-width: 1px;
	border-top-color: #c0c0c0;
	border-top-style: solid;
}

.TableStyle-Basic-FootD-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootC-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-FootC-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootB-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-FootB-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootA-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-FootA-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-FootG-Column1-Footer1
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-FootG-Column1-Footer1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-Body-Body1
{
	height: 17pt;
}

.TableStyle-Basic-BodyI-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyI-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyE-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyF-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyF-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyH-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyD-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyD-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyC-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyB-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyA-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyG-Column1-Body1
{
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyG-Column1-Body1 p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-Body-Body_line
{
	height: 1px;
}

.TableStyle-Basic-BodyI-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyI-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyE-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyF-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyF-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyH-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyD-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyD-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyC-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyB-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyA-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyG-Column1-Body_line
{
	text-align: left;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 6px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyG-Column1-Body_line p
{
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-Body-Gray
{
	height: 26pt;
	page-break-after: avoid;
}

.TableStyle-Basic-BodyI-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyI-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyE-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyF-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyF-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyH-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyD-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #696969;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyD-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyC-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyB-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyA-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyG-Column1-Gray
{
	color: #ffffff;
	background-color: #696969;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyG-Column1-Gray p
{
	color: #ffffff;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-Body-Break_after
{
	height: 17pt;
	page-break-after: always;
	column-break-after: always;
}

.TableStyle-Basic-BodyI-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyI-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyE-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyE-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyF-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyF-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyH-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyH-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyD-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #c0c0c0;
	border-bottom-style: solid;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyD-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyC-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyC-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyB-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	border-right-width: 0px;
	border-right-color: #a9a9a9;
	border-right-style: solid;
}

.TableStyle-Basic-BodyB-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyA-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyA-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

.TableStyle-Basic-BodyG-Column1-Break_after
{
	color: #000000;
	text-align: justify;
	padding-left: 3px;
	padding-right: 12px;
	padding-top: 6px;
	padding-bottom: 8px;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
}

.TableStyle-Basic-BodyG-Column1-Break_after p
{
	color: #000000;
	font-family: 'Open Sans';
	font-size: 13px;
	font-weight: normal;
	font-style: normal;
}

